.header {
    background-color: rgb(150, 7, 216);
    height: 250px;
    font-size: 24pt;
    margin-top: 0px;
    text-align: center;
}

h1 {
    margin-top: 0px;
}

body {
    background-color: greenyellow;
}

.Week {
    font-size: 24pt;
}


a:hover {
    color: rgb(150, 7, 216);
}



